<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="migra.br.smart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETOWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    //gles2
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_application"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityCliente.ClienteListView">
            <intent-filter>
                <action android:name="ABRIR_LISTA_CLIENTE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".atvConfig.Config">
            <intent-filter>
                <action android:name="ABRIR_CONFIG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityContRec.ContRecListView">
            <intent-filter>
                <action android:name="ABRIR_CONTAS_RECEBER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".atvContainerFg.ActivityContainerFragments"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ACTIVITY_CONTAINER_FRAGMENTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityLogin.LoginActivity"
            android:label="@string/title_application"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AtvCalcsPed"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ATV_CALC_PED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Obs">
            <intent-filter>
                <action android:name="ATV_PED_OBS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".atvConfig.AtvPortalOnline"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ATV_PORTAL_WEB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".atvConfig.atvBackup.BackupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ATV_BACKUP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activityproduto.AtvInsereAlteraItemPedido"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="ATV_INSERE_ALTERA_ITEM_PEDIDO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>